
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    /*min-height: 100vh;*/
}

.backgroundImage {
    background: url("/static/me.png") no-repeat;
    background-position: center;
    background-size: cover;
    /*width: 1000px;*/
    /*height: 500px;*/
}

.leftSideImage {
    background: url("/static/soc_wallpaper.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.myImage {
    background: url("/static/me.png") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.glassMorph {
    background: rgba(229, 243, 255, 0.15);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;

}

/*.glassMorph:hover {*/
/*    transform: scale3d(1.05, 1.05, 1);*/
/*    transition: transform 0.2s ease-out;*/
/*}*/

